* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial;
    text-align: center;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
}

header {
    background: #ededed;
    margin-bottom: 0em;
    padding-bottom: 2em;
    left: 0px;
    top: 0px;
    height: 8em;
    width: 100%;
}

/*
.header-background {
    background-image: url(images/logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}
*/

header .wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
}

header a {
    text-decoration: none;
}

header .site-name {
    color: #000;
    margin: 0;
    cursor: pointer;
    font-weight: 200;
    font-size: 2em;
    letter-spacing: 1px;
}

nav {
    margin-top: 0.5em;
    text-align: right;
}

nav li {
    display: inline-block;
    background-color: #000;
    color: #ddd;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
}

nav li:hover {
    color: #000;
    background-color: #ddd;
}
h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

h2 {
    margin: 20px 0;
}

p {
    margin-bottom: 10px;
}

a {
    color: inherit;
    
}

.description {
    margin-bottom: 20px;
}

.item-list > li {
    display: block;
    padding: 20px;
    border-radius: 20px;
    background-color: #eee;
    margin-bottom: 20px
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
}
.item-list a {
    text-decoration: none;
}
    
.item-list p {
    margin-bottom: 0;
}

.reading-time {
    display: inline-block;
    border-radius: 5px;
    background-color: #ddd;
    color: #000;
    padding: 4px 4px;
    margin-bottom: 5px;
    
}

.tag-list {
    margin-bottom: 5px; /* 15px */
}

.tag-list li,
.tag {
    display: inline-block;
    background-color: #000;
    color: #ddd;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
}

.tag-list a,
.tag a {
    text-decoration: none;
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 40px;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
}

img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

footer {
    color: #000;
}

pre {
    overflow-x: auto;
    font-family: Monaco,Consolas,"Lucida Console",monospace;
    display: block;
    margin-bottom: 1em;
    background: #333;/*#263238;*/
    color: #eee; /*#eff;*/
    line-height: 1.8;
    border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
    .reading-time {
        background-color: #000;
        color: #ddd;
    }
    body {
        background-color: #222;
    }

    body,
    header .site-name {
        color: #ddd;
    }
    nav li {
        background-color: #ddd;
        color: #000;

    }
    nav li:hover {
        color: #ddd;
        background-color: #000;
    }

    .item-list > li {
        background-color: #333;
    }

    header {
        background-color: #000;
    }
    footer {
        color: #ddd;
    }
}

