<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2e5a72">
    <meta name="theme-color" content="#2e5a72" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#2e5a72" media="(prefers-color-scheme: dark)">

    <title>{% block title %}{% endblock %}</title>

    <!--
    <link rel="stylesheet" href="https://unpkg.com/latex.css/style.min.css" />
    -->

    <link rel="stylesheet" href="/assets/c-hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700">

    <link rel="stylesheet" href="/assets/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:site_name" content="Navan Chauhan">
    <link rel="canonical" href="https://web.navan.dev{% block canURL %}{% endblock %}">
    <meta name="twitter:url" content="https://web.navan.dev{% block twURL %}{% endblock %}">
    <meta name="og:url" content="https://web.navan.dev{% block ogURL %}{% endblock %}">
    <meta name="twitter:title" content="{% block twittertitle %}Hey - Home{% endblock %}">
    <meta name="og:title" content="{% block ogtitle %}Hey - Home{% endblock %}">
    <meta name="description" content="{% block description %}code snippets, long-form rants, and tutorials{% endblock %}">
    <meta name="twitter:description" content="{% block twitterdescription %}code snippets, long-form rants, and tutorials{% endblock %}">
    <meta name="og:description" content="{% block ogdescription %}code snippets, long-form rants, and tutorials{% endblock %}">
    <meta name="twitter:card" content="{% block twitter2description %}summary_large_image{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <link href="/feed.rss" type="application/atom+xml" rel="alternate" title="Sitewide Atom feed">
    <meta name="twitter:image" content="{% block twimage %}https://web.navan.dev/images/logo.png{% endblock %}">
    <meta name="og:image" content="{% block ogimage %}https://web.navan.dev/images/logo.png{% endblock %}">
    <meta name="google-site-verification" content="LVeSZxz-QskhbEjHxOi7-BM5dDxTg53x2TwrjFxfL0k">
    <script defer data-domain="web.navan.dev" src="https://plausible.io/js/plausible.js"></script>
    <link rel="manifest" href="/manifest.json">
    {% endblock %}
</head>
<body class="theme-base-0d{% block body_class %}{% endblock %}">
    <div class="paint">
    {% include "sidebar.html" %}
    <div class="content container">
    {% block body %}{% endblock %}
    </div>
    </div>
    <script src="assets/manup.min.js"></script>
    <script src="/pwabuilder-sw-register.js"></script>
</body>
</html>
