    <meta name="og:site_name" content="Navan Chauhan" />
    <link rel="canonical" href="https://navanchauhan.github.io/" />
    <meta name="twitter:url" content="https://navanchauhan.github.io/" />
    <meta name="og:url" content="https://navanchauhan.github.io/" />
    <meta name="twitter:title" content="👋 Hi! | Navan Chauhan" />
    <meta name="og:title" content="👋 Hi! | Navan Chauhan" />
    <meta name="description" content="Welcome to my personal fragment of the internet. Majority of the posts should be complete." />
    <meta name="twitter:description" content="Welcome to my personal fragment of the internet. Majority of the posts should be complete." />
    <meta name="og:description" content="Welcome to my personal fragment of the internet. Majority of the posts should be complete." />
    <meta name="twitter:card" content="summary" />
    <link rel="stylesheet" href="/styles.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
    <link rel="alternate" href="/feed.rss" type="application/rss+xml" title="Subscribe to Navan Chauhan" />
    <meta name="twitter:image" content="https://navanchauhan.github.io/images/logo.png" />
    <meta name="og:image" content="https://navanchauhan.github.io/images/logo.png" />
    <link rel="manifest" href="manifest.json" />
    <meta name="google-site-verification" content="LVeSZxz-QskhbEjHxOi7-BM5dDxTg53x2TwrjFxfL0k" />
    <script async src="//gc.zgo.at/count.js" data-goatcounter="https://navanchauhan.goatcounter.com/count"></script>