{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block body %}

<main>
	{{ content}}

<h2>Recent Posts</h2>
<ul>
{% for post in posts[:5] %}
	<li><a href="{{post.link}}">{{ post.title }}</a></li>
	<ul>
		<li>{{ post.description}}</li>
		<li>Published On: {{post.date}}</li>
		<li>Tags: 
			{% for tag in post.tags %}
			{{ tag }}{{ ", " if not loop.last else "" }}
			{% endfor %}
	</ul>

{% endfor %}
</ul>

<b>For all posts go to <a href="/posts">Posts</a></b>

</main>
{% endblock %}
