{% from "macros.html" import render_post_details %}

{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block body %}

<main>
	{{ content}}

<h1>Recent Posts</h1>
<ul>
{% for post in posts[:5] %}
	<li><a href="{{post.link}}">{{ post.title }}</a>
	{% if (post.date and post.date != "2003-12-21 00:00") or post.tags %}
            {{ render_post_details(post) }}
    {% endif %}
    </li>

{% endfor %}
</ul>

<b>For all posts go to <a href="/posts">Posts</a></b>

</main>
{% endblock %}
