{% extends "base.html" %}

{% block title %}{{content.metadata.title}}{% endblock %}
{% block ogtitle %}{{content.metadata.title}}{% endblock %}
{% block twittertitle %}{{content.metadata.title}}{% endblock %}
{% block canURL %}{{content.metadata.link}}{% endblock %}
{% block twURL %}{{content.metadata.link}}{% endblock %}
{% block ogURL %}{{content.metadata.link}}{% endblock %}
{% block description %}{{content.metadata.description}}{% endblock %}
{% block ogdescription %}{{content.metadata.description}}{% endblock %}
{% block twitterdescription %}{{content.metadata.description}}{% endblock %}
{% block twitter2description %}summary_large_image{% endblock %}
{% block ogimage %}{{content.metadata.image_link}}{% endblock %}
{% block twimage %}{{content.metadata.image_link}}{% endblock %}

{% block body %}
	<div class="post">
	{{ content}}
	</div>
	<blockquote>If you have scrolled this far, consider subscribing to my mailing list <a href="https://listmonk.navan.dev/subscription/form">here.</a> You can subscribe to either a specific type of post you are interested in, or subscribe to everything with the "Everything" list.</blockquote>
	<script data-isso="https://comments.navan.dev/"
        src="https://comments.navan.dev/js/embed.min.js"></script>
	<section id="isso-thread">
	    <noscript>Javascript needs to be activated to view comments.</noscript>
	</section>
{% endblock %}
